pymongo~=3.11.0
connexion~=2.7.0
connexion[swagger-ui]
flask
flask_cors
minio
werkzeug
https://github.com/devorgpl/invoiceconverter/releases/download/v0.1.1/invoiceconverterlib-0.1.1-py3-none-any.whl
